*


!/.coveragerc
!/.dockerignore
!/.editorconfig
!/.flake8
!/.gitignore
!/.isort.cfg
!/.prettierrc.yaml
!/auth/
!/bin/
!/Build/release/backend/conf/nginx.conf
!/common/
!/jupyter/
!/config/
!/locale/
!/manage.py
!/manage/
!/Pipfile
!/Pipfile.lock
!/requirements.jupyter.txt
!/static/
!/templates/
!/tools/
!/users/
!/resources/

